<img src='http://www-scf.usc.edu/~ghasemig/images/sharif.png' alt="SUT logo" width=200 height=200 align=left class="saturate" >

<br>
<font face="Times New Roman">
<div dir=ltr align=center>
<font color=0F5298 size=7>
    Introduction to Machine Learning <br>
<font color=2565AE size=5>
    Computer Engineering Department <br>
    Fall 2022<br>
<font color=3C99D size=5>
    Project <br>
<font color=696880 size=4>
    Project Team 
    
    
____

### Full Name : Mohammadreza Mofayezi - Ali Hatami
### Student Number : 98106059 - 98101385
___

# Introduction

In this project, we are going to have a brief and elementary hands-on real-world project, predicting breast cancer survival using machine learning models with clinical data and gene expression profiles.

# Data Documentation

For this purpose, we will use "Breast Cancer Gene Expression Profiles (METABRIC)" data. 
The first 31 columns of data contain clinical information including death status.
The next columns of the data contain gene's related information which includes both gene expressions and mutation information. (gene's mutation info columns have been marked with "_mut" at the end of the names of the columns) 
For more information please read the [data documentation](https://www.kaggle.com/datasets/raghadalharbi/breast-cancer-gene-expression-profiles-metabric).

# Data Preparation (15 Points)

In this section you must first split data into three datasets:
<br>
1- clinical dataset
<br>
2- gene expressions dataset
<br>
3- gene mutation dataset. (We will not use this dataset in further steps of the project)

## Data Loading & Splitting

In [61]:
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import pandas as pd

In [52]:
df = pd.read_csv('METABRIC_RNA_Mutation.csv', low_memory=False)
clinical_dataset = df.iloc[:, :31]
gene_expression_dataset = df.iloc[:, 31:520]
gene_mutation_dataset = df.iloc[:, 520:]

## EDA

For each dataset, you must perform a sufficient EDA.

### Clinical Dataset

In [53]:
clinical_dataset = clinical_dataset.dropna()
clinical_dataset.head()

,patient_id,age_at_diagnosis,type_of_breast_surgery,cancer_type,cancer_type_detailed,cellularity,chemotherapy,pam50_+_claudin-low_subtype,cohort,er_status_measured_by_ihc,...,nottingham_prognostic_index,oncotree_code,overall_survival_months,overall_survival,pr_status,radio_therapy,3-gene_classifier_subtype,tumor_size,tumor_stage,death_from_cancer
1,2,43.19,BREAST CONSERVING,Breast Cancer,Breast Invasive Ductal Carcinoma,High,0,LumA,1.0,Positve,...,4.020,IDC,84.633333,1,Positive,1,ER+/HER2- High Prolif,10.0,1.0,Living
4,8,76.97,MASTECTOMY,Breast Cancer,Breast Mixed Ductal and Lobular Carcinoma,High,1,LumB,1.0,Positve,...,6.080,MDLC,41.366667,0,Positive,1,ER+/HER2- High Prolif,40.0,2.0,Died of Disease
5,10,78.77,MASTECTOMY,Breast Cancer,Breast Invasive Ductal Carcinoma,Moderate,0,LumB,1.0,Positve,...,4.062,IDC,7.800000,0,Positive,1,ER+/HER2- High Prolif,31.0,4.0,Died of Disease
8,28,86.41,BREAST CONSERVING,Breast Cancer,Breast Invasive Ductal Carcinoma,Moderate,0,LumB,1.0,Positve,...,5.032,IDC,36.566667,0,Negative,1,ER+/HER2- High Prolif,16.0,2.0,Died of Other Causes
9,35,84.22,MASTECTOMY,Breast Cancer,Breast Invasive Lobular Carcinoma,High,0,Her2,1.0,Negative,...,3.056,ILC,36.266667,0,Negative,0,ER+/HER2- High Prolif,28.0,2.0,Died of Disease

In [56]:
categorical_columns = clinical_dataset.select_dtypes(include='object').columns
clinical_dataset[categorical_columns] = clinical_dataset[categorical_columns].apply(preprocessing.LabelEncoder().fit_transform)
clinical_dataset.head()

,patient_id,age_at_diagnosis,type_of_breast_surgery,cancer_type,cancer_type_detailed,cellularity,chemotherapy,pam50_+_claudin-low_subtype,cohort,er_status_measured_by_ihc,...,nottingham_prognostic_index,oncotree_code,overall_survival_months,overall_survival,pr_status,radio_therapy,3-gene_classifier_subtype,tumor_size,tumor_stage,death_from_cancer
1,2,43.19,0,0,1,0,0,2,1.0,1,...,4.020,1,84.633333,1,1,1,0,10.0,1.0,2
4,8,76.97,1,0,4,0,1,3,1.0,1,...,6.080,4,41.366667,0,1,1,0,40.0,2.0,0
5,10,78.77,1,0,1,2,0,3,1.0,1,...,4.062,1,7.800000,0,1,1,0,31.0,4.0,0
8,28,86.41,0,0,1,2,0,3,1.0,1,...,5.032,1,36.566667,0,0,1,0,16.0,2.0,1
9,35,84.22,1,0,2,0,0,1,1.0,0,...,3.056,2,36.266667,0,0,0,0,28.0,2.0,0

In [57]:
clinical_dataset.describe()

,patient_id,age_at_diagnosis,type_of_breast_surgery,cancer_type,cancer_type_detailed,cellularity,chemotherapy,pam50_+_claudin-low_subtype,cohort,er_status_measured_by_ihc,...,nottingham_prognostic_index,oncotree_code,overall_survival_months,overall_survival,pr_status,radio_therapy,3-gene_classifier_subtype,tumor_size,tumor_stage,death_from_cancer
count,1092.000000,1092.000000,1092.000000,1092.0,1092.000000,1092.000000,1092.000000,1092.000000,1092.000000,1092.000000,...,1092.000000,1092.000000,1092.000000,1092.000000,1092.000000,1092.000000,1092.000000,1092.000000,1092.000000,1092.000000
mean,3270.071429,60.393526,0.576923,0.0,1.468864,0.868132,0.220696,2.541209,2.220696,0.774725,...,4.128973,1.468864,126.545452,0.443223,0.522894,0.663919,1.037546,26.025183,1.759158,1.104396
std,2085.827937,13.000930,0.494274,0.0,1.020389,0.932660,0.414906,1.586245,0.955380,0.417955,...,1.060455,1.020389,77.134919,0.496994,0.499704,0.472583,0.982645,15.012539,0.624623,0.878555
min,2.000000,21.930000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,2.002000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000
25%,582.750000,50.787500,0.000000,0.0,1.000000,0.000000,0.000000,2.000000,1.000000,1.000000,...,3.052000,1.000000,60.825000,0.000000,0.000000,0.000000,0.000000,17.000000,1.000000,0.000000
50%,3603.000000,60.995000,1.000000,0.0,1.000000,0.000000,0.000000,2.000000,2.000000,1.000000,...,4.046000,1.000000,116.983333,0.000000,1.000000,1.000000,1.000000,22.000000,2.000000,1.000000
75%,5163.250000,69.705000,1.000000,0.0,1.000000,2.000000,0.000000,3.000000,3.000000,1.000000,...,5.046000,1.000000,188.433333,1.000000,1.000000,1.000000,2.000000,30.000000,2.000000,2.000000
max,6346.000000,96.290000,1.000000,0.0,4.000000,2.000000,1.000000,6.000000,5.000000,1.000000,...,6.360000,4.000000,337.033333,1.000000,1.000000,1.000000,3.000000,180.000000,4.000000,2.000000

In [64]:
X = clinical_dataset.drop(['death_from_cancer'], axis=1)
y = clinical_dataset[['death_from_cancer']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=1)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.10, random_state=1)

print(f'Train X: {X_train.shape} | Train Y: {y_train.shape}')
print(f'Val X: {X_val.shape} | Val Y: {y_val.shape}')
print(f'Test  X: {X_test.shape} | Test  Y: {y_test.shape}')

Train X: (883, 30) | Train Y: (883, 1)
Val X: (99, 30) | Val Y: (99, 1)
Test  X: (110, 30) | Test  Y: (110, 1)

### Gene Expression Dataset

In [58]:
gene_expression_dataset = gene_expression_dataset.dropna()
gene_expression_dataset.head()

,brca1,brca2,palb2,pten,tp53,atm,cdh1,chek2,nbn,nf1,...,srd5a1,srd5a2,srd5a3,st7,star,tnk2,tulp4,ugt2b15,ugt2b17,ugt2b7
0,-1.3990,-0.5738,-1.6217,1.4524,0.3504,1.1517,0.0348,0.1266,-0.8361,-0.8578,...,-1.1877,-0.0194,-1.6345,-0.2142,-0.5698,-1.1741,-1.4779,-0.5954,-0.8847,-0.3354
1,-1.3800,0.2777,-1.2154,0.5296,-0.0136,-0.2659,1.3594,0.7961,0.5419,-2.6059,...,-0.4412,0.4534,0.4068,0.7634,0.0231,0.9121,-0.9538,-0.2264,0.5398,-0.8920
2,0.0670,-0.8426,0.2114,-0.3326,0.5141,-0.0803,1.1398,0.4187,-0.4030,-1.1305,...,-0.5381,0.0668,0.8344,1.7227,0.4024,-3.7172,-1.5538,1.3701,-0.1078,0.3655
3,0.6744,-0.5428,-1.6592,0.6369,1.6708,-0.8880,1.2491,-1.1889,-0.4174,-0.6165,...,-0.5630,-0.7078,0.8228,0.6819,-0.1948,-2.3286,-0.9924,-0.3154,0.2320,-0.4828
4,1.2932,-0.9039,-0.7219,0.2168,0.3484,0.3897,0.9131,0.9356,0.7675,-0.2940,...,-0.5845,-0.3544,-1.0150,2.2961,0.1817,-0.1572,0.0427,5.0048,3.8476,1.3223

In [59]:
gene_expression_dataset.describe()

,brca1,brca2,palb2,pten,tp53,atm,cdh1,chek2,nbn,nf1,...,srd5a1,srd5a2,srd5a3,st7,star,tnk2,tulp4,ugt2b15,ugt2b17,ugt2b7
count,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1904.000000,1.904000e+03,1.904000e+03,1904.000000,...,1.904000e+03,1.904000e+03,1.904000e+03,1.904000e+03,1904.000000,1.904000e+03,1.904000e+03,1.904000e+03,1904.000000,1.904000e+03
mean,-6.302521e-07,-4.201681e-07,3.676471e-07,-8.928571e-07,6.302521e-07,-2.100840e-07,0.000002,7.463684e-18,-3.676471e-07,-0.000001,...,4.726891e-07,-3.676471e-07,-9.453782e-07,-1.050420e-07,-0.000002,3.676471e-07,4.726891e-07,7.878151e-07,0.000000,3.731842e-18
std,1.000262e+00,1.000262e+00,1.000263e+00,1.000263e+00,1.000263e+00,1.000262e+00,1.000263,1.000262e+00,1.000263e+00,1.000262,...,1.000263e+00,1.000262e+00,1.000262e+00,1.000263e+00,1.000262,1.000264e+00,1.000262e+00,1.000263e+00,1.000262,1.000262e+00
min,-2.444400e+00,-2.783500e+00,-4.384600e+00,-5.932800e+00,-2.481200e+00,-3.170500e+00,-3.323700,-2.688700e+00,-3.689800e+00,-2.968600,...,-2.120800e+00,-3.364800e+00,-2.719400e+00,-4.982700e+00,-2.981700,-3.833300e+00,-3.609300e+00,-1.166900e+00,-2.112600,-1.051600e+00
25%,-7.198500e-01,-6.994750e-01,-6.798250e-01,-5.586500e-01,-6.661500e-01,-6.602250e-01,-0.458600,-7.385500e-01,-6.667750e-01,-0.683925,...,-6.188500e-01,-6.104750e-01,-6.741750e-01,-6.136750e-01,-0.632900,-6.664750e-01,-7.102000e-01,-5.058250e-01,-0.476200,-7.260000e-01
50%,-1.244500e-01,-5.820000e-02,-2.210000e-02,1.098500e-01,-3.010000e-02,-4.200000e-03,0.115550,-1.311000e-01,-1.445000e-02,-0.054800,...,-2.456500e-01,-4.690000e-02,-1.422500e-01,-5.175000e-02,-0.026650,7.000000e-04,-2.980000e-02,-2.885500e-01,-0.133400,-4.248000e-01
75%,5.532250e-01,6.290000e-01,6.400000e-01,6.426250e-01,6.447500e-01,6.901500e-01,0.649800,5.431250e-01,6.387250e-01,0.668925,...,3.306000e-01,5.144500e-01,5.146000e-01,5.787750e-01,0.590350,6.429000e-01,5.957250e-01,6.022500e-02,0.270375,4.284000e-01
max,4.554200e+00,3.737900e+00,4.615000e+00,3.254100e+00,4.289800e+00,3.824200e+00,2.820900,4.538200e+00,5.371300e+00,6.178600,...,6.534900e+00,1.027030e+01,6.329000e+00,4.571300e+00,12.742300,3.938800e+00,3.833400e+00,1.088490e+01,12.643900,3.284400e+00

## Dimension Reduction (20 + Up to 10 Points Optional)

For each dataset, investigate whether it is needed to use a dimensionality reduction approach or not. If yes, please reduce the dataset's dimension. You can use UMAP for this purpose but any other approach is acceptable. Finding the most important features contains extra points.

In [ ]:
# TODO

# Classic Model (25 Points)

In this section, you must implement a classic classification model for clinical, gene expressions, and reduced gene expressions datasets. Using Random Forest is suggested. (minimum acceptable accuracy = 60%)

In [ ]:
# TODO

# Neural Network (30 Points)

In this section, you must implement a neural network model for clinical, gene expressions and reduced gene expressions datasets. Using the MPL models is suggested. (minimum acceptable accuracy = 60%)

In [ ]:
# TODO

# Model Comparison (10 Points)

Compare different models and different datasets (clinical, gene expressions, and gene reduced expressions) and try to explain their differences.

#### \# TODO